/** @format */

body {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

section {
  margin-bottom: 50px;
}
.header {
  background-color: #1f2937;
  color: aliceblue;
  width: 90%;
  height: 350px;
  padding: 10px;
}

.navBar {
  display: flex;
  justify-content: space-around;
}
.headerLogo {
  font-size: 24px;
  color: #f9faf8;
}
.hLink {
  font-size: 18px;
  color: #e5e7eb;
  margin-right: 30px;
}

.secTxt {
  font-size: 18px;
  color: #e5e7eb;
}
.rightContent {
  text-align: center;
  background-color: #8f9092;
  font-size: 18px;
  color: #e5e7eb;
  width: 440px;
  height: 210px;
  margin-top: 50px;
  margin-left: 70px;
}

.rightTxt {
  margin-top: 100px;
}
.links {
  display: flex;
  justify-content: space-between;
}

.mainTxt {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  height: 70px;
}

.btn {
  background-color: #3882f6;
  color: white;
  border-radius: 5px;
  padding-inline: 15px;
  padding-block: 4px;
}

.leftContent {
  width: 400px;
  height: 240px;
  padding-left: 100px;
}
.contents {
  display: flex;
  flex-direction: row;
}

.random {
  text-align: center;
}
.images {
  width: 40%;
  text-align: center;
  display: flex;
  font-size: 14px;
  margin-right: 30px;
}

.imgBord {
 padding: 12px;
}

.img {
  width: 110px;
  height: 110px;
  border-width: 5px;
  border: #3882f6 solid;
  border-radius: 10px;
  margin-bottom: 10px;
}
.quote {
  background-color: #e5e7eb;
  width: 65%;
  height: 210px;
  text-align: left;
  padding-top: 100px;
  padding: 100px;
}

.quoteTxt {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}

.auth {
  margin-left: 700px;
}

.action {
  background-color: #3882f6;
  color: white;
  width: 55%;
  height: 63px;
  border-radius: 6px;
  padding-left: 100px;
  padding-top: 30px;
  padding-bottom: 18px;
  display: flex;
  flex-direction: row;
}

.actionTxt {
  display: inline;
}

#actionBtn {
  margin-left: 100px;
  margin-top: 10px;
  background-color: #3882f6;
  color: #e5e7eb;
  border: solid #f9faf8;
  border-radius: 4px;
  padding: 3px;
  width: 12%;
  height: 27px;
  display: inline;
}

.footer {
  width: 80%;
  height: 70px;
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footerTxt {
  color: #f9faf8;
}
